<div class="goods clearfix">
    <div class="list " *ngFor="let product of products; let i = index"
         [ngClass]="{'clearfix': i == '0', 'first': i == '0'}">
        <a href="" [ngClass]="{
                     'border-pink': product.discount >= '70' && product.discount <= '80',
                     'border-orange': product.discount >= '60' && product.discount <= '70',
                     'border-yellow': product.discount >= '40' && product.discount <= '60'}">
            <div class="round" [ngClass]="{
                     'pink': product.discount >= '70' && product.discount <= '80',
                     'orange': product.discount >= '60' && product.discount <= '70',
                     'yellow': product.discount >= '40' && product.discount <= '60'}">
                <p class="discount"
                   >
                    {{product.discount}}%<br>off</p>
            </div>

            <div class="card-body">
                <img [ngClass]="{'main-image': i == '0', 'other-image': i != '0'}" src="{{product.imageUrl}}">
                <div class="middle" [ngClass]="{'reverse': i != '0'}">
                    <div class="clearfix">
                        <p class="new-price" [ngClass]="{
                     'pink-price': product.discount >= '70' && product.discount <= '80',
                     'orange-price': product.discount >= '60' && product.discount <= '70',
                     'yellow-price': product.discount >= '40' && product.discount <= '60'}">{{product.price | currency:'USD':true}}</p>
                        <p class="strikethrough">{{product.oldPrice | currency:'USD':true}}</p>
                        <p class="vendor">{{product.retailer}}</p>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="title" [ngClass]="{'hide': i != '0'}">
                    <p>{{product.description | charLimit: 100}}</p>
                </div>
                <div class="clearfix">
                    <p *ngIf="product.shipping">Free Shiping</p>
                    <p *ngIf="product.status">New</p>
                    <p>{{product.timer}}</p>
                </div>
            </div>
        </a>
    </div>
</div>
